[submodule "firmware/esp_fw/components/esp-idf-lua"]
	path = firmware/esp_fw/components/esp-idf-lua
	url = https://github.com/UncleRus/esp-idf-lua.git
[submodule "firmware/neopixel-test/esp-idf-lib"]
	path = firmware/neopixel-test/esp-idf-lib
	url = git@github.com:UncleRus/esp-idf-lib.git
[submodule "firmware/bleprph/esp-idf-lib"]
	path = firmware/bleprph/esp-idf-lib
	url = git@github.com:UncleRus/esp-idf-lib.git
[submodule "firmware/spect/components/esp-idf-lua"]
	path = firmware/spect/components/esp-idf-lua
	url = https://github.com/UncleRus/esp-idf-lua.git
[submodule "firmware/spect/components/esp-idf-sqlite3"]
	path = firmware/spect/components/esp-idf-sqlite3
	url = git@github.com:siara-cc/esp32-idf-sqlite3.git
[submodule "firmware/spect/esp-idf-lib"]
	path = firmware/spect/esp-idf-lib
	url = git@github.com:UncleRus/esp-idf-lib.git
[submodule "interface/provisioner/lib/imgui"]
	path = interface/provisioner/lib/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "interface/provisioner/lib/sqlite"]
	path = interface/provisioner/lib/sqlite
	url = git@github.com:sqlite/sqlite.git
[submodule "interface/provisioner/lib/nativefiledialog"]
	path = interface/provisioner/lib/nativefiledialog
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "interface/provisioner/lib/ImGuiColorTextEdit"]
	path = interface/provisioner/lib/ImGuiColorTextEdit
	url = git@github.com:BalazsJako/ImGuiColorTextEdit.git
