# object  files output from C/C++ compiler
*.o

# SQLite database
*.db
!config.db

# sqlite amalagation build dir
lib/sqlite/build

# compiled exe for linux and mac
provision

# Windows build output
/Debug
/x64
/Release

# library zips
*.zip

.vs

/lib/sdl/SDL*
/include/gitparams_.h

# emscripten artifacts
/web